
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap");


/* ========= general design ======== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
h1 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700; 
    color: white;
    text-transform: uppercase;
}
p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0, 0%, 100%, 0.75);
}
a {
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
.tile {
    width: 100%;
    padding: 15%;
    margin: 0 auto;
}
.container {
    display: block;
    padding: 15% 5%;
}
.card-title {
    margin-bottom: 20px;
}
.card-text {
    margin-bottom: 50px;
}
.img {
    margin-bottom: 25px;
}
/* ========= Button ============ */

.btn {
    background-color: white;
    padding: 13px 35px;
    border-radius: 25px;
}

/* ========= left Tile ========= */ 

.tile-left {
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tile-left a {
    color:hsl(31, 77%, 52%);
}
.tile-left a:hover {
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 2px solid white;
}

/* ========== middle Tile ========== */

.tile-middle {
    background-color: hsl(184, 100%, 22%);
}
.tile-middle a {
    color: hsl(184, 100%, 22%);
}
.tile-middle a:hover {
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 2px solid white;
}



/* =========== right Tile =========== */

.tile-right { 
    background-color: hsl(179, 100%, 13%);
}
.tile-right a {
    color:hsl(179, 100%, 13%);
}
.tile-right a:hover {
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 2px solid white;
}

/* =========== Responsive =========== */

@media screen and (min-width: 1100px) {
    .container {
      display: flex;
      padding: 5% 15% 5%;
      margin: 8% auto 0 auto;
    }
    .tile {
      padding: 5%;
      margin: 0 auto;
    }
    .tile-left {
      background-color: hsl(31, 77%, 52%);
      border-top-left-radius: 10px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
    .tile-middle {
      background-color: hsl(184, 100%, 22%);
    }
    .tile-right {
      background-color: hsl(179, 100%, 13%);
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .card-text {
      margin-bottom: 100px;
    }
  }
  @media screen and (min-width: 1260px) {
    .container {
      display: flex;
      padding: 7% 20% 5%;
      margin: 4% auto 0 auto;
    }
  }